<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>slackJS</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    </head>
    <body>
        <h1>That's it.</h1>
        <br><br>
        <a href="https://leon-do.github.io/slackJS">
            <span> Bring me home. </span>
        </a>
    </body>
</html>
